body{
    margin: 0px;
    font-family:sans-serif ;
}


.main-header{
    min-height: 100vh;
    background-color: red;
    background-size : cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
}

.main-header::after{
    content: '';
    position: absolute;
    bottom: 0;
    width:100%;
    height:200px;
    background: url(tree.png);
}

.snow1, .snow2{
    position:absolute;  
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(snow.png);
    background-position: 0 0;
}

.snow1{
    background-size:70em;
    animation: snowfall 30s linear infinite;
}

.snow2{
    background-size:50em;
        animation:snowfall1 30s linear infinite;
    opacity:0.5;
}

.container{
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: calc(10% + 350px + 12px); 
    z-index: 10;
    text-align: center;
    width: auto;
} 
.animate{
    display: block;
    font-size: clamp(1.6rem, 4vw, 4rem);
    font-family: lobster, cursive;
    text-shadow: 5px 5px 10px #111;
    margin: 0;
    padding: 0 0.5rem;
} 

@keyframes snowfall{
    100%{background-position: 70em 70em}
}

@keyframes snowfall1{
    100%{
        background-position: -50em 50em;
    }
}

.circle{
    position:absolute;
    top:10%;
    left:50%;
    transform: translateX(-50%);
    width:350px;
    height: 350px;
    background: #fff;
    border-radius: 50%;
}

.circle::before{
    content:'';
    inset: -200px -300px;
    position:absolute;
    background: url(santa.png) no-repeat center;
    background-size: 600px;
    animation: santa-move 3s ease-in-out infinite;
}

@keyframes santa-move{
    0% , 100%{
        transform: translateY(-25px);
    }
    50%{
        transform: translateY(25px);
    }
}

/*Phone*/
@media (max-width: 600px) {
    .main-header {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 15vh;
        overflow: hidden;
    }

    .circle {
        width: 220px;
        height: 220px;
        position: relative;
        left: 0;
        transform: none;
        margin-bottom: 20px;
        z-index: 2;
    }

    .circle::before {
        background-size: 400px;
        inset: -130px -110px; 
        animation: santa-move 3s ease-in-out infinite;
    }

    .container {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 10;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .animate {
        font-size: 2.2rem;
        text-align: center;
        margin: 0;
        padding: 0;
        display: block;
        width: 100%;
    }

    .container p {
        margin: 15px 0 0 0;
        font-size: 1.1rem;
        line-height: 1.5;
        text-align: center;
        display: block;
        width: 100%;
        color: white;
    }

    .main-header::after {
        height: 55vh;
        background-size: cover;
        background-position: center bottom;
        bottom: 0;
        z-index: 5;
    }

    .snow1, .snow2 {
        background-size: 30em;
    }
}